header {
  font-family: "Lato", sans-serif;
  position: relative;
  display: block;
  width: 100%;
  background: #bbb;
  color: white;
  height: 58px;
}

li a {
  font-family: "Lato", sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  font-family: "Lato", sans-serif;
  float: left;
  border-right: 1px solid #bbb;
}

li a:hover {
  font-family: "Lato", sans-serif;
  background-color: #838383;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in;
  border: 1px solid white;
}

.active {
  font-family: "Lato", sans-serif;
  background-color: #838383;
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

ul {
  font-family: "Lato", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  background: #bbb;
}
